@font-face {
  font-family: "iconfont-dmp"; /* Project id 445672 */
  src: url('iconfont.woff2?t=1631083411797') format('woff2'),
       url('iconfont.woff?t=1631083411797') format('woff'),
       url('iconfont.ttf?t=1631083411797') format('truetype');
}

.iconfont-dmp {
  font-family: "iconfont-dmp" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-dmp-email:before {
  content: "\e685";
}

.iconfont-dmp-document:before {
  content: "\e684";
}

.iconfont-dmp-chart-view:before {
  content: "\e603";
}

.iconfont-dmp-save-snapshot:before {
  content: "\e604";
}

.iconfont-dmp-list-view:before {
  content: "\e605";
}

.iconfont-dmp-add-theme:before {
  content: "\e606";
}

.iconfont-dmp-add-snapshot:before {
  content: "\e607";
}

.iconfont-dmp-group-name:before {
  content: "\e608";
}

.iconfont-dmp-download2:before {
  content: "\e60a";
}

.iconfont-dmp-rightsIssue:before {
  content: "\e625";
}

.iconfont-dmp-customerService1:before {
  content: "\e64f";
}

.iconfont-dmp-removeGroup:before {
  content: "\e63f";
}

.iconfont-dmp-group:before {
  content: "\e633";
}

.iconfont-dmp-weixin:before {
  content: "\e623";
}

.iconfont-dmp-average1:before {
  content: "\e632";
}

.iconfont-dmp-pushxiaoxi1:before {
  content: "\e609";
}

.iconfont-dmp-targetSet:before {
  content: "\e683";
}

.iconfont-dmp-list-state:before {
  content: "\e67b";
}

.iconfont-dmp-card-state:before {
  content: "\e67c";
}

.iconfont-dmp-progress:before {
  content: "\e67d";
}

.iconfont-dmp-checked:before {
  content: "\e67e";
}

.iconfont-dmp-more:before {
  content: "\e67f";
}

.iconfont-dmp-eyes:before {
  content: "\e680";
}

.iconfont-dmp-sort:before {
  content: "\e681";
}

.iconfont-dmp-info-circle:before {
  content: "\e682";
}

.iconfont-dmp-end:before {
  content: "\e651";
}

.iconfont-dmp-delay:before {
  content: "\e652";
}

.iconfont-dmp-app-push:before {
  content: "\e653";
}

.iconfont-dmp-event-source:before {
  content: "\e654";
}

.iconfont-dmp-add-group:before {
  content: "\e660";
}

.iconfont-dmp-condition-event:before {
  content: "\e661";
}

.iconfont-dmp-remove-repeat:before {
  content: "\e662";
}

.iconfont-dmp-average:before {
  content: "\e663";
}

.iconfont-dmp-we-chat:before {
  content: "\e671";
}

.iconfont-dmp-put-on:before {
  content: "\e672";
}

.iconfont-dmp-customer:before {
  content: "\e673";
}

.iconfont-dmp-remove-group:before {
  content: "\e674";
}

.iconfont-dmp-rights-issue:before {
  content: "\e675";
}

.iconfont-dmp-customer-service:before {
  content: "\e676";
}

.iconfont-dmp-CRM:before {
  content: "\e677";
}

.iconfont-dmp-SMS:before {
  content: "\e678";
}

.iconfont-dmp-condition-attr:before {
  content: "\e679";
}

.iconfont-dmp-condition-time:before {
  content: "\e67a";
}

.iconfont-dmp-tag:before {
  content: "\e611";
}

.iconfont-dmp-stage:before {
  content: "\e63b";
}

.iconfont-dmp-modifyAttr:before {
  content: "\e63c";
}

.iconfont-dmp-removeTag:before {
  content: "\e63e";
}

.iconfont-dmp-prompt:before {
  content: "\e64e";
}

.iconfont-dmp-wait:before {
  content: "\e63d";
}

.iconfont-dmp-picture:before {
  content: "\e88f";
}

.iconfont-dmp-upload:before {
  content: "\e886";
}

.iconfont-dmp-download1:before {
  content: "\e888";
}

.iconfont-dmp-return:before {
  content: "\e74f";
}

.iconfont-dmp-bianji:before {
  content: "\e890";
}

.iconfont-dmp-shanchu:before {
  content: "\e891";
}

.iconfont-dmp-edit-event:before {
  content: "\e60e";
}

.iconfont-dmp-del:before {
  content: "\e617";
}

.iconfont-dmp-iconjian:before {
  content: "\e892";
}

.iconfont-dmp-reduce:before {
  content: "\e628";
}

.iconfont-dmp-add1:before {
  content: "\e6e0";
}

.iconfont-dmp-qidong:before {
  content: "\e626";
}

.iconfont-dmp-start:before {
  content: "\e629";
}

.iconfont-dmp-jieshu:before {
  content: "\e62a";
}

.iconfont-dmp-fasongduanxin:before {
  content: "\e62b";
}

.iconfont-dmp-shijianpanduan:before {
  content: "\e62c";
}

.iconfont-dmp-shuxingpanduan:before {
  content: "\e62e";
}

.iconfont-dmp-kaishi:before {
  content: "\e893";
}

.iconfont-dmp-pie:before {
  content: "\e64b";
}

.iconfont-dmp-line:before {
  content: "\e83f";
}

.iconfont-dmp-bar:before {
  content: "\e840";
}

.iconfont-dmp-scatter-plot:before {
  content: "\e841";
}

.iconfont-dmp-thermal-map:before {
  content: "\e842";
}

.iconfont-dmp-down:before {
  content: "\e83c";
}

.iconfont-dmp-up:before {
  content: "\e83d";
}

.iconfont-dmp-user-level:before {
  content: "\e60b";
}

.iconfont-dmp-down-shelves:before {
  content: "\e7eb";
}

.iconfont-dmp-shelfing:before {
  content: "\e7e7";
}

.iconfont-dmp-obtained:before {
  content: "\e7e9";
}

.iconfont-dmp-shelf:before {
  content: "\e7e5";
}

.iconfont-dmp-arrow-right:before {
  content: "\e7e4";
}

.iconfont-dmp-remove-completely:before {
  content: "\e7e3";
}

.iconfont-dmp-group-export:before {
  content: "\e7e2";
}

.iconfont-dmp-guest-branch:before {
  content: "\e799";
}

.iconfont-dmp-upload-file:before {
  content: "\e621";
}

.iconfont-dmp-default-img:before {
  content: "\e670";
}

.iconfont-dmp-download:before {
  content: "\e610";
}

.iconfont-dmp-customer-save:before {
  content: "\e7e1";
}

.iconfont-dmp-user-behavior:before {
  content: "\e66d";
}

.iconfont-dmp-account-analysis:before {
  content: "\e66e";
}

.iconfont-dmp-user-info:before {
  content: "\e66f";
}

.iconfont-dmp-checking:before {
  content: "\e7dd";
}

.iconfont-dmp-pass:before {
  content: "\e7de";
}

.iconfont-dmp-selected:before {
  content: "\e7df";
}

.iconfont-dmp-transfer:before {
  content: "\e7e0";
}

.iconfont-dmp-group-add:before {
  content: "\e7d8";
}

.iconfont-dmp-back:before {
  content: "\e7c7";
}

.iconfont-dmp-edit:before {
  content: "\e7c8";
}

.iconfont-dmp-close:before {
  content: "\e7c9";
}

.iconfont-dmp-manage:before {
  content: "\e7ca";
}

.iconfont-dmp-trash:before {
  content: "\e668";
}

.iconfont-dmp-editor:before {
  content: "\e669";
}

.iconfont-dmp-new-add:before {
  content: "\e66a";
}

.iconfont-dmp-solid-triangle:before {
  content: "\e66b";
}

.iconfont-dmp-editor-mod:before {
  content: "\e66c";
}

.iconfont-dmp-tree-close:before {
  content: "\e664";
}

.iconfont-dmp-tree-open:before {
  content: "\e665";
}

.iconfont-dmp-folder-open:before {
  content: "\e666";
}

.iconfont-dmp-folder-close:before {
  content: "\e667";
}

.iconfont-dmp-add:before {
  content: "\e638";
}

.iconfont-dmp-select:before {
  content: "\e650";
}

.iconfont-dmp-qyzt:before {
  content: "\e65e";
}

.iconfont-dmp-yxqz:before {
  content: "\e65f";
}

.iconfont-dmp-raindrop:before {
  content: "\e655";
}

.iconfont-dmp-double-arrows:before {
  content: "\e656";
}

.iconfont-dmp-arrow:before {
  content: "\e657";
}

.iconfont-dmp-question:before {
  content: "\e658";
}

.iconfont-dmp-fxdj:before {
  content: "\e659";
}

.iconfont-dmp-jypl:before {
  content: "\e65a";
}

.iconfont-dmp-ptzh:before {
  content: "\e65b";
}

.iconfont-dmp-xyzh:before {
  content: "\e65c";
}

.iconfont-dmp-zcdj:before {
  content: "\e65d";
}

.iconfont-dmp-moreunfold:before {
  content: "\e6a6";
}

.iconfont-dmp-notice:before {
  content: "\e7ac";
}

